*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #1C2225;
    overflow-x: hidden;
    color: beige;
}

img {
    display: block;
}

svg {
    width: 100%;
    height: auto;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.vector-container {
    /* display: flex;
    justify-content: space-between; */
    padding: 100px;

}

.header-container {
    padding: 50px;
}

.logo-container {}

.vector {
    fill: #ECD979;
    stroke: #ECD979;
}

.pattern-wrapper {
    position: relative;
    width: 100vw;
    height: 2000px;
}

.pattern-container {
    position: absolute;
}

.pattern-container:nth-child(1) {
    top: 300px;
    right: 0;
    fill: rgba(252, 249, 249, 0.10);
    /* stroke: rgba(252, 249, 249, 0.10); */
}

.pattern-container:nth-child(2) {
    top: 900px;
    left: 0;
    fill: rgb(236, 217, 121);
    stroke: rgb(236, 217, 121);
}

.pattern-container:nth-child(3) {
    top: 1300px;
    left: -220px;
    fill: rgba(252, 249, 249, 0.10);
    /* stroke: rgba(252, 249, 249, 0.10); */
}

.pattern-container:nth-child(4) {
    bottom: -104px;
    right: -99px;
    fill: rgb(236, 217, 121);
    stroke: rgb(236, 217, 121);
}